.about {
    .container();

  &__block1 {
    margin-bottom: 100px;    
  }

  &__block2 {
    display: grid;
    grid-template-columns: 1fr 406px;
    gap: 90px 65px;
    grid-template-areas:
      "pic1 pic2"
      "title pic2"
      "text text";
  }

  &__picture1 {
    grid-area: pic1;
  }

  &__title {
    grid-area: title;
    font-weight: 700;
    font-size: 44px;
  }

  &__picture2 {
    grid-area: pic2;
    align-self: flex-end;
  }

  &__text {
    grid-area: text;
    margin: 0 80px 0 auto;
    max-width: 870px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
  }
}
