.reserve {
  display: grid;
  gap: 65px 11%;
  grid-template-columns: 405px calc(89%-405px);
  grid-template-areas:
    "checks scheme"
    "order legend";
  width: 100%;

  &__checks {
    grid-area: "checks";
  }

  &__scheme {
    grid-area: "scheme";
  }

  &__order {
    grid-area: "order";
  }

  &__legend {
    grid-area: "legend";
  }
}

.reserve > div {
  box-sizing: border-box;
  padding: 10px;
  background-color: #bc3324;
  text-align: center;
}
