html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    padding-top: 147px;
}

.test_header {
    color: red;
}

.page_header {
    position: fixed;
    height: 147px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(222, 222, 222, 0.5);
}

.page_main {
    background-color: rgba(255, 255, 255, 1);
}

.page_footer {    
    height: 455px;
    background-color: black;
}